body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/701802.jpg);
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}

.clock {
  text-align: center;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;

  &__header {
    color: #000;
    font-weight: 100;
    font-size: 40px;
  }

  &__block {
    display: inline-block;
    margin: 8px;
    padding: 12px;
    border-radius: 6px;
    background: snow;
    font-size: 32px;
  }

  &__span {
    display: inline-block;
    width: 36px;
    padding: 16px;
    border-radius: 4px;
    background: rgb(227, 244, 242);
  }

  &__text {
    padding-top: 12px;
    font-size: 16px;
  }
}
