body {
  background-image: url(./image/701802.jpg);
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  text-align: center;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;

  &__header {
    color: #000;
    font-weight: 100;
    font-size: 40px;
  }

  &__block {
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    background: snow;
    display: inline-block;
    font-size: 30px;
  }

  &__span {
    padding: 16px;
    border-radius: 4px;
    background: rgb(227, 244, 242);
    display: inline-block;
  }

  &__text {
    padding-top: 10px;
    font-size: 16px;
  }
}
